* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  height: calc(var(--vh,1vh) * 100);
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  max-width: 550px;
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 0 auto;
}