.cards{
    display: flex;
    flex-direction: column;
    padding: 13% 1% 0 1%;
}
.cards .card{
    height: 100lvh;
    scroll-snap-align: start;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5%;
    justify-content: center;
}

.card-frame{
    height: 92%;
    width: 99%;
    background-color: antiquewhite;
    border-radius: 20px;
}